In [62]:
import pandas as pd

In [63]:
ser = pd.Series(np.random.randn(8))
ser

0    0.101617
1    1.617292
2    0.351121
3   -0.482487
4   -0.714434
5    1.799510
6   -0.742576
7    0.064619
dtype: float64

In [64]:
ser.pct_change()

0          NaN
1    14.915574
2    -0.782896
3    -2.374136
4     0.480730
5    -3.518791
6    -1.412655
7    -1.087020
dtype: float64

In [66]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0  0.758547  1.572829 -0.206779 -0.581155
1  0.683633 -1.928678  1.595867 -0.021600
2 -1.201346  0.495336 -0.763753  0.909544
3 -1.848820  0.836899 -0.577754  0.312890
4  0.886108  1.110916  0.572393 -0.087329
5 -0.800605  1.811627 -0.635520 -0.254343
6  1.140086 -2.591974 -0.024006  1.353904
7 -0.818021 -0.029209 -0.326760  0.932335
8 -0.291444 -0.075556 -0.274831  1.737282
9 -1.044972  1.436574  0.371152 -0.786729

In [67]:
df.pct_change(periods=3)

          0         1          2          3
0       NaN       NaN        NaN        NaN
1       NaN       NaN        NaN        NaN
2       NaN       NaN        NaN        NaN
3 -3.437318 -0.467902   1.794058  -1.538393
4  0.296175 -1.575999  -0.641328   3.042935
5 -0.333576  2.657370  -0.167899  -1.279638
6 -1.616656 -4.097117  -0.958449   3.327092
7 -1.923162 -1.026293  -1.570868 -11.676069
8 -0.635970 -1.041706  -0.567549  -7.830470
9 -1.916573 -1.554239 -16.460698  -1.581082

In [68]:
s1 = pd.Series(np.random.randn(1000))
s2 = pd.Series(np.random.randn(1000))
s1.cov(s2)

-0.0080317625662542289

In [70]:
frame = pd.DataFrame(np.random.randn(1000, 5), columns=['a', 'b', 'c', 'd', 'e'])
frame.cov()

          a         b         c         d         e
a  0.993983 -0.000982 -0.049722  0.038055 -0.012102
b -0.000982  1.023699 -0.009515 -0.050129 -0.049312
c -0.049722 -0.009515  0.995888 -0.027740  0.035034
d  0.038055 -0.050129 -0.027740  0.985661 -0.058868
e -0.012102 -0.049312  0.035034 -0.058868  1.075261

In [71]:
frame.ix[:5, 'a'] = np.nan
frame.ix[5:10, 'b'] = np.nan
frame.cov()

          a         b         c         d         e
a  0.990749 -0.002108 -0.048960  0.037775 -0.013064
b -0.002108  1.018605 -0.008848 -0.043094 -0.046180
c -0.048960 -0.008848  0.995888 -0.027740  0.035034
d  0.037775 -0.043094 -0.027740  0.985661 -0.058868
e -0.013064 -0.046180  0.035034 -0.058868  1.075261

In [72]:
frame.cov(min_periods=12)

          a         b         c         d         e
a  0.990749 -0.002108 -0.048960  0.037775 -0.013064
b -0.002108  1.018605 -0.008848 -0.043094 -0.046180
c -0.048960 -0.008848  0.995888 -0.027740  0.035034
d  0.037775 -0.043094 -0.027740  0.985661 -0.058868
e -0.013064 -0.046180  0.035034 -0.058868  1.075261

In [73]:
frame = pd.DataFrame(np.random.randn(1000, 5), columns=['a', 'b', 'c', 'd', 'e'])
frame.ix[::2] = np.nan
frame['a'].corr(frame['b'])
frame['a'].corr(frame['b'], method='spearman')
frame.corr()

          a         b         c         d         e
a  1.000000  0.048670  0.010194  0.025541 -0.013940
b  0.048670  1.000000 -0.048526 -0.046426 -0.000069
c  0.010194 -0.048526  1.000000 -0.048307  0.097344
d  0.025541 -0.046426 -0.048307  1.000000 -0.047994
e -0.013940 -0.000069  0.097344 -0.047994  1.000000

In [74]:
s = pd.Series(np.random.np.random.randn(5), index=list('abcde'))

s['d'] = s['b'] # so there's a tie
s

a    0.629566
b    0.385892
c    1.416837
d    0.385892
e    1.079616
dtype: float64

In [75]:
s.rank()

a    3.0
b    1.5
c    5.0
d    1.5
e    4.0
dtype: float64

In [76]:
df = pd.DataFrame(np.random.np.random.randn(10, 6))

In [79]:
df[2][:5]

0   -1.103880
1    0.772260
2    1.375156
3    1.224790
4    0.965105
Name: 2, dtype: float64