In [40]:
import pandas as pd
import numpy as np
import itertools
import functools
df = pd.DataFrame(
     {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [7]:
df.ix[df.AAA >= 5, 'BBB'] = -1

In [8]:
df.ix[df.AAA >= 5, ['BBB', 'CCC']] = 555; df

   AAA  BBB  CCC
0    4   10  100
1    5  555  555
2    6  555  555
3    7  555  555

In [9]:
df.ix[df.AAA < 5,['BBB','CCC']] = 2000; df

   AAA   BBB   CCC
0    4  2000  2000
1    5   555   555
2    6   555   555
3    7   555   555

In [12]:
df_mask = pd.DataFrame({'AAA' : [True] * 4, 'BBB' : [False] * 4,'CCC' : [True,False] * 2})
df.where(df_mask, -1000)

   AAA   BBB   CCC
0    4 -1000  2000
1    5 -1000 -1000
2    6 -1000   555
3    7 -1000 -1000

In [17]:
df = pd.DataFrame(
   {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); 
df
df['logic'] = np.where(df['AAA'] > 5,'high','low'); df

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high

In [20]:
df = pd.DataFrame(
    {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df
dflow = df[df.AAA <= 5]
dfhigh = df[df.AAA > 5]
dflow

   AAA  BBB  CCC
0    4   10  100
1    5   20   50

In [23]:
df = pd.DataFrame(
    {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]}); df
newseries = df.loc[(df['BBB'] > 25) | (df['CCC'] >= -40), 'AAA'];
newseries;

In [24]:
aValue = 43.0

df.ix[(df.CCC-aValue).abs().argsort()]

   AAA  BBB  CCC
1    5   20   50
0    4   10  100
2    6   30  -30
3    7   40  -50

In [6]:
rng = pd.date_range('1/1/2013',periods=100,freq='D');rng
data = np.random.randn(100, 4)
cols = ['A','B','C','D']

df1, df2, df3 = pd.DataFrame(data, rng, cols), pd.DataFrame(data, rng, cols), pd.DataFrame(data, rng, cols)

pf = pd.Panel({'df1':df1,'df2':df2,'df3':df3});pf
pf = pf.transpose(2,0,1);pf

<class 'pandas.core.panel.Panel'>
Dimensions: 4 (items) x 3 (major_axis) x 100 (minor_axis)
Items axis: A to D
Major_axis axis: df1 to df3
Minor_axis axis: 2013-01-01 00:00:00 to 2013-04-10 00:00:00

In [14]:
df = pd.DataFrame(
    {'AAA' : [1,1,1,2,2,2,3,3], 'BBB' : [2,1,3,4,5,1,2,3]});df

   AAA  BBB
0    1    2
1    1    1
2    1    3
3    2    4
4    2    5
5    2    1
6    3    2
7    3    3

In [17]:
df.loc[df.groupby("AAA")['BBB'].idxmin()]

   AAA  BBB
1    1    1
5    2    1
6    3    2

In [21]:
df.sort_values(by="BBB").groupby("AAA", as_index=False).first()

   AAA  BBB
0    1    1
1    2    1
2    3    2

In [22]:
df = pd.DataFrame({'row' : [0,1,2],
                   'One_X' : [1.1,1.1,1.1],
                   'One_Y' : [1.2,1.2,1.2],
                   'Two_X' : [1.11,1.11,1.11],
                   'Two_Y' : [1.22,1.22,1.22]}); df

   One_X  One_Y  Two_X  Two_Y  row
0    1.1    1.2   1.11   1.22    0
1    1.1    1.2   1.11   1.22    1
2    1.1    1.2   1.11   1.22    2

In [23]:
df = df.set_index('row');df

     One_X  One_Y  Two_X  Two_Y
row
0      1.1    1.2   1.11   1.22
1      1.1    1.2   1.11   1.22
2      1.1    1.2   1.11   1.22

In [24]:
 df.columns = pd.MultiIndex.from_tuples([tuple(c.split('_')) for c in df.columns]);df

     One        Two
       X    Y     X     Y
row
0    1.1  1.2  1.11  1.22
1    1.1  1.2  1.11  1.22
2    1.1  1.2  1.11  1.22

In [25]:
df = df.stack(0).reset_index(1);df

    level_1     X     Y
row
0       One  1.10  1.20
0       Two  1.11  1.22
1       One  1.10  1.20
1       Two  1.11  1.22
2       One  1.10  1.20
2       Two  1.11  1.22

In [26]:
df.columns = ['Sample','All_X','All_Y'];df

    Sample  All_X  All_Y
row
0      One   1.10   1.20
0      Two   1.11   1.22
1      One   1.10   1.20
1      Two   1.11   1.22
2      One   1.10   1.20
2      Two   1.11   1.22

In [27]:
cols = pd.MultiIndex.from_tuples([ (x,y) for x in ['A','B','C'] for y in ['O','I']])

In [29]:
df = pd.DataFrame(np.random.randn(2,6),index=['n','m'],columns=cols); df
df = df.div(df['C'],level=1); df

          A                    B              C
          O         I          O         I    O    I
n  1.646021  0.837626 -19.171947  1.894005  1.0  1.0
m  2.450303 -3.720166   0.099176 -0.423482  1.0  1.0

In [32]:
index = list(itertools.product(['Ada','Quinn','Violet'],['Comp','Math','Sci']))
headr = list(itertools.product(['Exams','Labs'],['I','II']))
indx = pd.MultiIndex.from_tuples(index,names=['Student','Course'])
cols = pd.MultiIndex.from_tuples(headr) #Notice these are un-named
data = [[70+x+y+(x*y)%3 for x in range(4)] for y in range(9)]
df = pd.DataFrame(data,indx,cols); df

               Exams     Labs
                   I  II    I  II
Student Course
Ada     Comp      70  71   72  73
        Math      71  73   75  74
        Sci       72  75   75  75
Quinn   Comp      73  74   75  76
        Math      74  76   78  77
        Sci       75  78   78  78
Violet  Comp      76  77   78  79
        Math      77  79   81  80
        Sci       78  81   81  81

In [34]:
All = slice(None)
df.loc['Violet']
df.loc[(All,'Math'),All]
df.loc[(All,'Math'),(All,'II')]

               Exams     Labs
                   I  II    I  II
Student Course
Ada     Math      71  73   75  74
Quinn   Math      74  76   78  77
Violet  Math      77  79   81  80

In [35]:
df = pd.DataFrame({'animal': 'cat dog cat fish dog cat cat'.split(),
                   'size': list('SSMMMLL'),
                   'weight': [8, 10, 11, 1, 20, 12, 12],
                   'adult' : [False] * 5 + [True] * 2}); df
df.groupby('animal').apply(lambda subf: subf['size'][subf['weight'].idxmax()])

animal
cat     L
dog     M
fish    M
dtype: object

In [37]:
gb = df.groupby(['animal'])
def GrowUp(x):
   avg_weight =  sum(x[x['size'] == 'S'].weight * 1.5)
   avg_weight += sum(x[x['size'] == 'M'].weight * 1.25)
   avg_weight += sum(x[x['size'] == 'L'].weight)
   avg_weight /= len(x)
   return pd.Series(['L',avg_weight,True], index=['size', 'weight', 'adult'])
expected_df = gb.apply(GrowUp)
expected_df

       size   weight adult
animal
cat       L  12.4375  True
dog       L  20.0000  True
fish      L   1.2500  True

In [41]:
S = pd.Series([i / 100.0 for i in range(1,11)])

def CumRet(x,y):
   return x * (1 + y)


def Red(x):
   return functools.reduce(CumRet,x,1.0)


S.expanding().apply(Red)

0    1.010000
1    1.030200
2    1.061106
3    1.103550
4    1.158728
5    1.228251
6    1.314229
7    1.419367
8    1.547110
9    1.701821
dtype: float64